* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


i {
    font-style: normal;
}

strong {
    font-style: normal;
}

button {
    background-color: white;
    border: none;
}

h1,h2 {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

textarea {
    border: none;
    outline: none;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;

    margin: 0;
    padding: 0;
}

.dzdp_page {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}
