/* 消息界面样式 */
.dzdp_messagePage {
    flex-direction: column;
    align-items: center; 
}

.dzdp_messagePage_head {
    width: 100%;

    display: flex;
    justify-content: end;

    margin-bottom: 20px;
    margin-top: 10px;
}

.dzdp_messagePage_title {
    display: block;
    width: 33.33%;
    text-align: center;
    font-size: 20px;
}

.dzdp_messagePage_delRecord {
    width: 33.33%;

    font-size: 13px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dzdp_messagePage_tips {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.messagePage_likeCheck,.messagePage_comment,.messagePage_fansAdd {
    width: 33%;
    font-size: 12px;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.messagePage_IconBox {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 40px;
    margin-bottom: 10px;
}

.iconDesription {
    font-size: 15px;
    font-weight: 200;
}